Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update GPS Positional DOP using polling timer (#4106)
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Lint: Fix pre-commit lint issue
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Fix graph layout in Sensors tab
  src/css/main.less
  src/tabs/sensors.html
Due: prettier --write --ignore-unknown

Fix usage of splice (#4118)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Stick landing page footer to the bottom of the page (#4121)
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

Style: Add missed styles
  src/css/main.less
Due: prettier --write --ignore-unknown

Style: Fix graph layout in Sensors tab (#4122)
  src/css/main.less
  src/js/tabs/gps.js
  src/tabs/sensors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update FFT-FREQ
  locales/en/messages.json
  src/js/debug.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add update function and cleanup
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Increase dynamic notch count for API 1.47
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update fieldNames
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/it/messages.json
  locales/ja/messages.json
  locales/pt/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Add more debug modes
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Do not change notches in GUI
  locales/en/messages.json
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add DEBUG2 OSD element
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Fix contrast issues
  src/components/quad-status/BatteryLegend.vue
  src/css/dark-theme.less
  src/css/main.less
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/receiver.less
  src/css/tabs/sensors.less
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Fix Motors tab graph layout
  src/css/tabs/motors.less
  src/tabs/motors.html
Due: prettier --write --ignore-unknown

Fix: re-include code commented out during testing
  src/tabs/motors.html
Due: none

Style: Fix contrast issues (#4125)
  src/components/quad-status/BatteryLegend.vue
  src/css/dark-theme.less
  src/css/main.less
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/receiver.less
  src/css/tabs/sensors.less
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

PWA notice for unsupported browser (#4120)
  locales/en/messages.json
  src/js/utils/checkBrowserCompatibilty.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

dconf and nw-builder 3.8.6
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ru/messages.json
Due: none

Voltage help-tips
  locales/en/messages.json
  src/tabs/power.html
Due: none

Add DEBUG2 OSD element (#4124)
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update FFT-FREQ & add SPA and TASK debug modes (#4085)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix file extension blackbox logging
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Display sensor data flash freespace in header
  src/index.html
Due: none

Added notifications for long actions
  locales/en/messages.json
  src/js/main.js
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/options.js
  src/js/utils/notifications.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix file extension blackbox logging and show flash space bar (#4132)
  src/index.html
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added notifications for long actions (#4134)
  locales/en/messages.json
  src/js/main.js
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/options.js
  src/js/utils/notifications.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Voltage help-tips (#4129)
  locales/en/messages.json
  src/tabs/power.html
Due: none

Fixed dataflash indicator in the top row
  src/css/main.less
  src/index.html
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed dataflash indicator in the top row (#4135)
  src/css/main.less
  src/index.html
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

increase failsafe delay
  src/js/msp/MSPHelper.js
  src/tabs/failsafe.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed progress bar not updating on top header
  src/index.html
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed progress bar not updating on top header (#4137)
  src/index.html
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update message
  locales/en/messages.json
Due: none

Rephrase
  locales/en/messages.json
Due: none

Update message for OSD options being mutually exclusive
  locales/en/messages.json
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/ru/messages.json
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
