Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix some UI glitches in servos tab (#4040)
  src/css/main.less
  src/css/tabs/servos.less
  src/tabs/servos.html
Due: prettier --write --ignore-unknown

Remove space for hidden buttons in the toolbar (#4041)
  src/css/main.less
Due: prettier --write --ignore-unknown

Update debug (#4044)
  src/css/select2_custom.less
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Several little UI adjustments (#4045)
  src/css/tabs/configuration.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/sensors.less
  src/css/tabs/setup.less
  src/css/tabs/static_tab.less
  src/tabs/pid_tuning.html
  src/tabs/presets/presets.less
  src/tabs/sensors.html
Due: prettier --write --ignore-unknown

Fix message (#4047)
  locales/en/messages.json
Due: none

Request permission before connect in USB flashing (#4046)
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Auto flashing without asking permissions if possible
  src/js/protocols/webstm32.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix CLI autocomplete background color
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

Fix CLI executeCommands
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix CLI executeCommands (#4050)
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix CLI autocomplete background color (#4049)
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

Auto flashing without asking permissions if possible (#4048)
  src/js/protocols/webstm32.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Move analytics to its own domain and capture host (#4035)
  src/js/Analytics.js
  src/js/BuildApi.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

10.10-maintenance: Move analytics to its own domain and capture host (#4036)
  src/js/Analytics.js
  src/js/BuildApi.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add altitude variant
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix servo tab not shown
  src/js/utils/updateTabList.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only add variants if sensor enabled
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Fix jBox tooltip colors
  src/css/main.less
Due: prettier --write --ignore-unknown

Style: Fix jBox tooltip colors (#4054)
  src/css/main.less
Due: prettier --write --ignore-unknown

Make msc-not-support expert only
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enforce preset mutally exclusive option groups
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/PresetsRepoIndexed/PresetParser.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix off by one cutting the first letter of the option
  src/tabs/presets/PresetsRepoIndexed/PresetParser.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

PR feedback
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/PresetsRepoIndexed/PresetParser.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Make msc-not-support expert only (#4056)
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix servo tab not shown (#4053)
  src/js/utils/updateTabList.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Disable vbat-sagcompensation if voltage source is not ADC (#4025)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Fix hot module reload
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change Vite register type to prompt for PWA
  locales/en/messages.json
  src/js/browserMain.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adjust RX Plot graph elements
  src/css/tabs/receiver.less
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown

Fix missing dmin gain and advance
  src/tabs/pid_tuning.html
Due: none

Adjust RX Plot graph elements (#4060)
  src/css/tabs/receiver.less
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown

Fix missing dmin gain and advance (#4061)
  src/tabs/pid_tuning.html
Due: none

Change Vite register type to prompt for PWA (#4059)
  locales/en/messages.json
  src/js/browserMain.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix disabled state of autodetect button
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Fix firmware flasher tab toolbar
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Upgrade packages to latest versions in yarn.lock
  package.json
  yarn.lock
Due: none

Fix disabled state of autodetect button (#4062)
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Fix firmware flasher tab toolbar (#4063)
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Upgrade packages to latest versions in yarn.lock (#4064)
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
