Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add FAILSAFE and GYRO_CALIBRATION debug modes
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add FAILSAFE and GYRO_CALIBRATION debug modes (#3313)
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Workaround for custom defaults on EXST targets by adding known addresses.
  src/js/ConfigInserter.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Found two more links (#3312)
  locales/en/messages.json
Due: none

Fix incorrect address calculation when the address is greater than int32 max.
  src/js/ConfigInserter.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix presets loading
  src/tabs/presets/CliEngine.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Updated Electron to 23.0.0 and NodeJS 18.12.0
  .nvmrc
  package.json
  yarn.lock
Due: none

Updated the PR template
  .github/pull_request_template.md
Due: none

Update node-gyp
  package.json
  yarn.lock
Due: none

Fix presets loading (#3325)
  src/tabs/presets/CliEngine.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Core Only toggle
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Core Only toggle (#3330)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Move GPS configuration to GPS tab
  locales/en/messages.json
  src/css/tabs/configuration.less
  src/css/tabs/gps.less
  src/js/Features.js
  src/js/tabs/configuration.js
  src/js/tabs/gps.js
  src/tabs/configuration.html
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Move GPS configuration to GPS tab (#3326)
  locales/en/messages.json
  src/css/tabs/configuration.less
  src/css/tabs/gps.less
  src/js/Features.js
  src/js/tabs/configuration.js
  src/js/tabs/gps.js
  src/tabs/configuration.html
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update NW.js to 0.72.0
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Updated the PR template (#3328)
  .github/pull_request_template.md
Due: none

Updated the PR template (2)
  .github/pull_request_template.md
Due: none

Update NW.js to 0.72.0 (#3334)
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Better approximation of GPS status texts
  locales/de/messages.json
Due: none

Updated the PR template (2) (#3335)
  .github/pull_request_template.md
Due: none

Fix MSDN browser
  locales/en/messages.json
  src/js/port_handler.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix mDNS browser (#3337)
  locales/en/messages.json
  src/js/port_handler.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Simplified configurator version checking
  src/js/BuildApi.js
  src/js/release_checker.js
  src/js/utils/checkForConfiguratorUpdates.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Simplified configurator version checking (#3346)
  src/js/BuildApi.js
  src/js/release_checker.js
  src/js/utils/checkForConfiguratorUpdates.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

replaceAll-workaround
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Extend submit support ID with problem description field
  locales/en/messages.json
  src/css/tabs/cli.less
  src/js/tabs/cli.js
  src/tabs/cli.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix latest version check
  src/js/utils/checkForConfiguratorUpdates.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix latest version check (#3349)
  src/js/utils/checkForConfiguratorUpdates.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

replaceAll-workaround (#3348)
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Option to automatically open DevTools
  locales/en/messages.json
  src/js/data_storage.js
  src/js/main.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix: vtx tab -> vtx type
  src/js/utils/VtxDeviceStatus/Rtc6705DeviceStatus.js
  src/js/utils/VtxDeviceStatus/SmartAudioDeviceStatus.js
  src/js/utils/VtxDeviceStatus/TrampDeviceStatus.js
  src/js/utils/VtxDeviceStatus/VtxDeviceStatusFactory.js
  src/js/utils/VtxDeviceStatus/VtxMspDeviceStatus.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add VFC support for GPS tab
  src/js/VirtualFC.js
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Display heading from mag
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/tabs/gps.js
  src/js/tabs/map.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
Due: none

Extend submit support ID with problem description field (#3350)
  locales/en/messages.json
  src/css/tabs/cli.less
  src/js/tabs/cli.js
  src/tabs/cli.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Review fixes
  src/js/VirtualFC.js
  src/js/fc.js
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove setting of client version in the cloud build request
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

css fix
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
