Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Fix deprecation of slider-vertical
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/receiver.less
Due: prettier --write --ignore-unknown

Fix i18n interpolation
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix i18n interpolation (#4235)
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix deprecation of slider-vertical (#4234)
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/receiver.less
Due: prettier --write --ignore-unknown

Fix build options
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix [missing] build options (#4236)
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix motor slider values
  src/tabs/motors.html
Due: none

substitue `craft` for `drone` and `quad`
  locales/en/messages.json
Due: none

revert `biquad`
  locales/en/messages.json
Due: none

possessive
  locales/en/messages.json
Due: none

substitue `aircraft` with `craft`; skip languageVariables
  locales/en/messages.json
Due: none

Fix debug ATTITUDE (#4233)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix motor slider values (#4238)
  src/tabs/motors.html
Due: none

Update src/js/webSerial.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Fix gps color
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Refactor and ease usedColor
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[chore]Refactor lexical scoping
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update locales/en/messages.json
  locales/en/messages.json
Due: none

substitue `aircraft` for `craft`, `drone`, or `quad` (#4232)
  locales/en/messages.json
Due: none

Add STMicroelectronics STLink Virtual COM Port
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add STMicroelectronics STLink Virtual COM Port (#4244)
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix gps color (#4241)
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

added 'Attitude' field in blackbox list
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

The new attitude field is compatible with older versions
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only show first line of commit message
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only show first line of commit message (#4249)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sponsor loading
  src/js/Sponsor.js
  src/js/gui.js
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ja/messages.json
  locales/ru/messages.json
Due: none

Fix sponsor loading (#4250)
  src/js/Sponsor.js
  src/js/gui.js
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix no osd selection build
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix null cloudbuildOptions
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add default selection when using auto detect
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enforce OSD option
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update from blckmn
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use groupedName and refactor
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update MSPHelper.js
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/led_strip.js
  src/tabs/led_strip.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enforce OSD option (#4251)
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update README.md
  README.md
Due: none
