Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Show presets repo name only when non-official repos are enabled
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/TitlePanel/PresetTitlePanel.js
  src/tabs/presets/TitlePanel/PresetTitlePanelBody.html
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Code-review changes
  src/tabs/presets/PresetsRepoIndexed/PresetsGithubRepo.js
  src/tabs/presets/PresetsRepoIndexed/PresetsRepoIndexed.js
  src/tabs/presets/PresetsRepoIndexed/PresetsWebsiteRepo.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix offline behaviour
  src/js/Features.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/utils/updateTabList.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix message on setup tab when offline
  locales/en/messages.json
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix language variable name firmwareFlasherBoardVerificationFail
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix language variable name firmwareFlasherBoardVerificationFail (#3481)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Tabs to spaces in less files, and renaming logo files (cf to bf). (#3473)
  src/css/dark-theme.less
  src/css/main.less
  src/css/main_cordova.less
  src/css/select2_custom.less
  src/css/switchery_custom.less
  src/images/bf_logo_black.svg
  src/images/bf_logo_white.svg
  src/images/bf_settings_black.svg
  src/images/bf_settings_white.svg
  src/tabs/landing.html
Due: prettier --write --ignore-unknown

Adding sponsor program images (for future use). (#3477)
  src/images/sponsors/bf_hardware_seal_dark.svg
  src/images/sponsors/bf_hardware_seal_light.svg
  src/images/sponsors/bf_partner_dark.svg
  src/images/sponsors/bf_partner_light.svg
Due: none

Fix offline behavior (#3480)
  locales/en/messages.json
  src/js/Features.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/setup.js
  src/js/utils/updateTabList.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add dialog
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix connection issue when flashing for second time
  locales/en/messages.json
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Backup config on flash
  src/js/tabs/firmware_flasher.js
  src/js/utils/generate_filename.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Optimize connection flow
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Backup config on flash (#3459)
  locales/en/messages.json
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
  src/js/utils/generate_filename.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Trim preset title not to overlap icons
  src/tabs/presets/TitlePanel/PresetTitlePanel.css
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Flasher tab: remember last user selected radio protocol
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Flasher tab: remember last user selected radio protocol (#3475)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix MSP rx sticks window
  gulpfile.js
  locales/en/messages.json
  src/css/tabs/receiver_msp.less
  src/js/tabs/receiver_msp.js
  src/tabs/receiver_msp.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cancel previous execution of PR github action
  .github/workflows/pr.yml
Due: none

Fix MSP rx sticks window (#3482)
  gulpfile.js
  locales/en/messages.json
  src/css/tabs/receiver_msp.less
  src/js/tabs/receiver_msp.js
  src/tabs/receiver_msp.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add North when use magnetometer
  locales/en/messages.json
  package.json
  src/images/icons/cf_icon_position_mag.png
  src/js/tabs/gps.js
  src/js/tabs/map.js
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add help text to sections on GPS tab
  locales/en/messages.json
  src/tabs/gps.html
Due: none

Update locales/en/messages.json
  locales/en/messages.json
Due: none

Update src/js/tabs/map.js
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show GPS home position found in FC
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Design change
  locales/en/messages.json
  src/tabs/gps.html
Due: none

Add RPM debugField
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

When use magnetometer, add North symbol to GPS position icon (#3484)
  locales/en/messages.json
  package.json
  src/images/icons/cf_icon_position_mag.png
  src/js/tabs/gps.js
  src/js/tabs/map.js
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add RPM debugField (#3489)
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Concat longitude and latitude in Setup tab
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Upgrade stale action to v8 (#3474)
  .github/workflows/stale.yaml
Due: none

Cancel previous execution of PR github action (#3483)
  .github/workflows/pr.yml
Due: none

Add support for multiple presets repositories to be active at once (#3476)
  locales/en/messages.json
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/FavoritePresets.js
  src/tabs/presets/PickedPreset.js
  src/tabs/presets/PresetsRepoIndexed/PresetsGithubRepo.js
  src/tabs/presets/PresetsRepoIndexed/PresetsRepoIndexed.js
  src/tabs/presets/PresetsRepoIndexed/PresetsWebsiteRepo.js
  src/tabs/presets/SourcesDialog/SourcePanel.html
  src/tabs/presets/SourcesDialog/SourcePanel.js
  src/tabs/presets/SourcesDialog/SourcesDialog.js
  src/tabs/presets/TitlePanel/PresetTitlePanel.css
  src/tabs/presets/TitlePanel/PresetTitlePanel.js
  src/tabs/presets/TitlePanel/PresetTitlePanelBody.html
  src/tabs/presets/presets.html
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add help text to sections on GPS tab (#3485)
  locales/en/messages.json
  src/tabs/gps.html
Due: none

Add debug disable field
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix cli reconnect tab
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix API version
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix pit mode frequency
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix OSD stat elements
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
