Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

more to go
  src/js/localization.js
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

more to go
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

unused get to work
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

ready
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

sonarcloud fix
  src/tabs/auxiliary.html
Due: none

update help text
  locales/en/messages.json
Due: none

update help text
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix initial load
  locales/en/messages.json
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

code review
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

update of CSS
  src/css/tabs/auxiliary.less
Due: prettier --write --ignore-unknown

fix quality issue
  src/css/tabs/auxiliary.less
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown

more call of categories when initialize
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix bugs for not update ui, when unselect mode
  src/js/tabs/auxiliary.js
  src/js/utils/common.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix zero issue
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Design changes
  locales/en/messages.json
  src/css/tabs/auxiliary.less
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Default list are all cat
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix from review
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added Custom Defines Dropdown
  src/js/tabs/firmware_flasher.js
  src/js/utils/custom_defines.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Removed unnecessary line
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed text color in 2 places for light mode
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

Fix CLI buttons
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Fix CLI buttons (#4094)
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed text color in motors & PID tabs for light mode (#4092)
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

Fix menu overflow (#4090)
  src/css/main.less
Due: prettier --write --ignore-unknown

Little cleanup (#4088)
  src/js/tabs/configuration.js
  src/js/tabs/pid_tuning.js
  src/tabs/configuration.html
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Buffer.from
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update src/js/virtualSerial.js
  src/js/virtualSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Extract out virtual serial (#3998)
  src/js/Clipboard.js
  src/js/main.js
  src/js/msp/MSPConnector.js
  src/js/port_usage.js
  src/js/serial.js
  src/js/serial_backend.js
  src/js/serial_shim.js
  src/js/tabs/cli.js
  src/js/tabs/sensors.js
  src/js/tabs/vtx.js
  src/js/virtualSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix ELRS UUID (#4096)
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Hide firmware version dropdown for virtual mode
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix feedforward smooth factor range
  src/tabs/pid_tuning.html
Due: none

[10.10-MAINT] Fix feedforward smooth factor range
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Another try
  src/components/port-picker/PortPicker.vue
  src/js/serial_backend.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix feedforward smooth factor range (#4098)
  src/tabs/pid_tuning.html
Due: none

Cleanup
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Hide firmware version dropdown for virtual mode (#4097)
  src/components/port-picker/PortPicker.vue
  src/js/serial_backend.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[CI] Update macos build
  .github/workflows/ci.yml
Due: none

[10.10-MAINT] Fix feedforward smooth factor range (#4099)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
