Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show config and log based on buildkey
  locales/en/messages.json
  src/css/main.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Firmware info on setup tab (#3369)
  locales/en/messages.json
  src/css/main.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add rainbow effect to led strip and cleanup (#3322)
  locales/en/messages.json
  src/css/tabs/led_strip.less
  src/js/msp/MSPHelper.js
  src/js/tabs/led_strip.js
  src/js/utils/common.js
  src/tabs/led_strip.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix gyro_hardware_lpf (#3378)
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change blackbox debug
  locales/en/messages.json
  src/css/tabs/onboard_logging.less
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change blackbox debug (#3381)
  locales/en/messages.json
  src/css/tabs/onboard_logging.less
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix features
  src/js/Features.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

FIX: Adjusting setting of ajax default header as not being passed for version check
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Load options when selecting the firmware version
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add help and minor layout changes
  locales/en/messages.json
  src/css/main.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add help and minor layout changes
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

FIX: Adjusting setting of ajax default header as not being passed for version check (#3383)
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add help and minor layout changes
  src/css/dark-theme.less
  src/css/main.less
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing debug modes
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add the release to the request for options when setting defaults based on buildkey.
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adjusting to allow build key to be passed.
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Load available cloud build options when selecting the firmware version to build (#3384)
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

FIX: missing debug modes (#3386)
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix toggle switch margin
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

Add RPM debug disable option
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix toggle switch margin in LED tab (#3391)
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

FIX: feature ESC_SENSOR (#3382)
  src/js/Features.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show logname
  locales/en/messages.json
  src/js/tabs/logging.js
  src/tabs/logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show logname on logging tab (#3394)
  locales/en/messages.json
  src/js/tabs/logging.js
  src/tabs/logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup + led overlay expansion
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

more spacing
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

Delete unused class and design fixes
  src/css/tabs/led_strip.less
  src/js/tabs/led_strip.js
  src/tabs/led_strip.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Revert #3391
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

fix maxlength
  src/tabs/configuration.html
Due: none

Fix max length of craft name and pilot name (#3396)
  src/tabs/configuration.html
Due: none

Update android build info in README.md
  README.md
Due: none

Fix layout
  src/css/main.less
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update android build info in README.md (#3398)
  README.md
Due: none

add temp
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add disable / enable logic
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add cpu temperature
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

small changes
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
Due: none

Fix PID tab
  src/js/model.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
