Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Style: Fix mode overflow
  src/css/tabs/auxiliary.less
Due: prettier --write --ignore-unknown

Style: Fix modes range and link overflow (#4140)
  src/css/tabs/auxiliary.less
Due: prettier --write --ignore-unknown

Add missing debug
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing debug modes (SPA, TASK) (#4141)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/es/messages.json
  locales/ko/messages.json
  locales/pt/messages.json
Due: none

Added new DSHOT debug modes
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/debug.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add Althold debug
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update html attributes (failsafe_landing_time)
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Move EDT checkbox to separate row
  src/tabs/motors.html
Due: none

Bumped API versions, import semver
  src/js/data_storage.js
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Conditionally ready motor config
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix color of helpicon on hover
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix color of helpicon on hover (#4146)
  src/css/main.less
Due: prettier --write --ignore-unknown

Made VTX Freq Input bigger
  src/css/tabs/vtx.less
Due: prettier --write --ignore-unknown

Fixed race transponder icon
  src/images/icons/cf_icon_transponder_grey.svg
Due: none

Made VTX Frequency Input bigger (#4147)
  src/css/tabs/vtx.less
Due: prettier --write --ignore-unknown

Fixed race transponder icon (#4148)
  src/images/icons/cf_icon_transponder_grey.svg
Due: none

Update translations
  locales/ru/messages.json
Due: none

Warn when selected rx protocol is not in build configuration
  locales/en/messages.json
  src/js/tabs/receiver.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Disable unavailable rx protocols
  locales/en/messages.json
  src/js/fc.js
  src/js/tabs/receiver.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix arming flag
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Handle TARGET_CUSTOM same way like other cases
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fast-fail false; do not abort other builds
  .github/workflows/ci.yml
Due: none

Warn when selected rx protocol is not in build configuration (#4150)
  locales/en/messages.json
  src/js/fc.js
  src/js/tabs/receiver.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add altitude hold debug and update parameters (#4130)
  src/js/debug.js
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

copy compoenents folder to web release
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

FIX for motor dialogs for web? Or not the fix (#4158)
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Restore failsafe modename CSS
  src/css/tabs/failsafe.less
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Restore failsafe modename CSS (#4159)
  src/css/tabs/failsafe.less
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add gps state and ublox version
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pt/messages.json
  locales/uk/messages.json
Due: none

Remove platform
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/da/messages.json
Due: none

Fix deadband and getSerialRxTypes
  src/js/fc.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix deadband and getSerialRxTypes (#4167)
  src/js/fc.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[10.10.1] fast-fail false; do not abort other builds (#4153)
  .github/workflows/ci.yml
Due: none

[10.10.1] Fix arming flag (#4152)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

vue3 init
  package.json
  src/components/osd-preview-panel/OSDPreviewItem.vue
  src/components/osd-preview-panel/OSDPreviewPanel.stories.js
  src/components/osd-preview-panel/OSDPreviewPanel.vue
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

remove @vue/compat
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
