Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

forgot to delete bracket
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

2nd try deleting bracket
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

fix landing page dark theme Background pattern (#3734)
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

Fix Mag declination in CSS for dark mode
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Reset flash button when loading new firmware
  locales/en/messages.json
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Improved build request management, enabling user to cancel and indicating whether processing has commenced.
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/en/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adding timeout for the pending state (120 seconds) and minor refactor.
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adding in some language versions for cancelled.
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
Due: none

Translate multiple-select to local language
  src/js/jqueryPlugins.js
  src/js/localization.js
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update messages.json
  locales/en/messages.json
Due: none

minor facelift for landing page
  src/css/dark-theme.less
  src/css/tabs/landing.less
  src/images/bf_logo_black.svg
  src/images/bf_logo_white.svg
  src/images/pattern_dark.png
  src/images/pattern_light.png
Due: prettier --write --ignore-unknown

Migrate hub to gh
  .github/workflows/build-release.yml
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
Due: none

Minor Facelift for Landing Page (Dark Mode) (#3739)
  src/css/dark-theme.less
  src/css/tabs/landing.less
  src/images/bf_logo_black.svg
  src/images/bf_logo_white.svg
  src/images/pattern_dark.png
  src/images/pattern_light.png
Due: prettier --write --ignore-unknown

Update messages.json (#3738)
  locales/en/messages.json
Due: none

Migrate hub to gh (#3741)
  .github/workflows/build-release.yml
Due: none

Improved build request management (#3736)
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/en/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix serial
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Reset button when loading new firmware
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove boards.js
  src/js/boards.js
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Some cleanup
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix mag declination css for dark mode (#3737)
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Prevent detection when busy (#3745)
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Do not wait on reinitialize connection for firmware flasher tab
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

return silently as port-picker will trigger again when port is available
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup unused blocksize
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

App Build - disable push AWS on forks
  .github/workflows/app-build.yml
Due: none

Improved messaging if build request fails
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Improved messaging if build request fails (#3750)
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix for motor sliders behaving weirdly when MSP is overloaded, small MSP refactoring
  src/js/msp.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Include ms-locale-all
  src/js/jqueryPlugins.js
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Include ms-locale-all
  src/js/jqueryPlugins.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing callback
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix isWeb usage
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix reinitialize connection
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update tooltip for ESC Temp
  locales/en/messages.json
Due: none

DShot vs Dshot
  locales/en/messages.json
Due: none

Dogcom light and dark themes
  src/images/sponsors/dogcom.svg
  src/images/sponsors/dogcom_dark.svg
  src/images/sponsors/dogcom_light.svg
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
