Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update arming disable flag (#3660)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix readonly field (#3662)
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Fix overlaping with arm state buttons
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

Hide MAG and LEVEL PIDF values (#3664)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix overlaping with arm state buttons (#3665)
  src/css/tabs/led_strip.less
Due: prettier --write --ignore-unknown

Fix macos build (#3658)
  .github/workflows/ci.yml
Due: none

Add EZLANDING debug (#3655)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update Node.js to 18.14.0LTS
  .nvmrc
  package.json
Due: none

Add fix-esm
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Try gulp-macdmg
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove appdmg
  package.json
  yarn.lock
Due: none

Try without fix-esm
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

We don't need fix-esm
  package.json
  yarn.lock
Due: none

appdmg is already removed
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove gulp-appdmg.js
  gulp-appdmg.js
  package.json
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use IMU heading on GPS tab
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove precision and rotation
  src/js/tabs/gps.js
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Code style fixes
  src/js/tabs/gps.js
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use attitude heading (#3663)
  locales/en/messages.json
  src/js/tabs/gps.js
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
Due: none

Fix autodetect
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix autodetect (#3667)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Rotate map icon instead of view
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Rotate map icon instead of view (#3668)
  src/js/tabs/map.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix heading calculation
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix heading calculation (#3669)
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added new DSHOT debug modes
  locales/en/messages.json
  src/css/tabs/onboard_logging.less
  src/js/VirtualFC.js
  src/js/debug.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Skip URL check and change Wiki to Support
  locales/en/messages.json
  src/css/tabs/firmware_flasher.less
  src/js/gui.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add MSP support for led profile and status
  src/js/fc.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add MSP support for led profile and status (#3671)
  src/js/fc.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix message
  locales/en/messages.json
Due: none

Update
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Defer URL check (#3670)
  locales/en/messages.json
  src/css/tabs/firmware_flasher.less
  src/js/gui.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: reduce final package build output
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix message (#3672)
  locales/en/messages.json
Due: none

chore: node update and appdmg support apple silicon
  .nvmrc
  package.json
  yarn.lock
Due: none

Update debug-scheduler-determinism
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/uk/messages.json
Due: none

feat: only use rollup output for build (#3597)
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update debug-scheduler-determinism (#3674)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
