Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes per review
  locales/en/messages.json
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix language selection (#3713)
  src/js/tabs/landing.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/uk/messages.json
Due: none

Add missing MSP_SET_OSD_CANVAS support
  src/js/msp/MSPHelper.js
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sponsor bacground on landing page
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

Fix Android icons
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Android icons (#3722)
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update wiki links in locales
  locales/en/messages.json
Due: none

Set erase_chip as default option when not set before
  src/js/ConfigStorage.js
  src/js/main.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use NerdCopters approach
  src/js/main.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feat: add basic offline pwa support (#3718)
  package.json
  src/images/pwa/apple-touch-icon.png
  src/images/pwa/favicon.ico
  src/images/pwa/pwa-192-192.png
  src/images/pwa/pwa-512-512.png
  src/index.html
  src/js/browserMain.js
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing MSP_SET_OSD_CANVAS support (#3720)
  src/js/msp/MSPHelper.js
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sponsor background on landing page (#3721)
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

Update wiki links in locales (#3725)
  locales/en/messages.json
Due: none

Revert "Add missing MSP_SET_OSD_CANVAS support (#3720)"
  src/js/msp/MSPHelper.js
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Revert "Add missing MSP_SET_OSD_CANVAS support" (#3728)
  src/js/msp/MSPHelper.js
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Updating analytics to use build server
  package.json
  src/js/Analytics.js
  src/js/BuildApi.js
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/onboard_logging.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

CleanUp: Removing changelog (available online).
  .github/release.yml
  changelog.html
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/en/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
  src/index.html
  src/js/gui.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Corrected gulpfile
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Relax MSP timeout (#3712)
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Changelog removal (#3730)
  .github/release.yml
  changelog.html
  gulpfile.js
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/en/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
  src/index.html
  src/js/gui.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Revert to const (artifact left over from some testing)
  src/js/Analytics.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Send the changeList object in total
  src/js/Analytics.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Updating analytics to use build server (#3729)
  package.json
  src/js/Analytics.js
  src/js/BuildApi.js
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/onboard_logging.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

More virtuel information on setup tab
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Allow erase_chip to be disabled during session
  src/js/main.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sonar to reflect datastruct has no default
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

No need to nuke erase_chip as we are enabling by default now
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enable erase_chip by default (#3701)
  src/js/ConfigStorage.js
  src/js/main.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Hide telemetry protocols for CRSF, FPORT and GHST
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sonar to reflect datastruct has no default (#3731)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add placeholder
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

More virtual information (#3732)
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update message
  locales/en/messages.json
Due: none

Fix sonar
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Hide telemetry protocols for CRSF, FPORT and GHST (#3726)
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Background pattern on full landing tab
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

Background pattern on full landing tab (#3733)
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

fix landing page dark theme Background pattern
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

Add health info for cloud build
  locales/en/messages.json
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
