Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Styled progress bar on preset apply screen (#4191)
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Fix build options unreadable in dark mode (#4190)
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Remove $ prefix when sending cli command (STX is adequate)
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add language option
  locales/en/messages.json
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add language option (#4174)
  locales/en/messages.json
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Altered checkbox/radio accent color & size
  src/css/main.less
  src/css/tabs/osd.less
  src/css/tabs/sensors.less
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Altered checkbox/radio accent color & size (#4195)
  src/css/main.less
  src/css/tabs/osd.less
  src/css/tabs/sensors.less
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Stop motors on save
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix: stop motors on save while testing (#4188)
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed selected color in motor wizards
  src/css/main.less
Due: prettier --write --ignore-unknown

removed space
  src/css/main.less
Due: prettier --write --ignore-unknown

Update color for rx protocol warning
  src/tabs/receiver.html
Due: none

Fix HID mode connection
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Corrected hover & highlighed color for reorder
  src/components/EscDshotDirection/Styles.css
Due: prettier --write --ignore-unknown

Motor wizard fix (#4197)
  src/components/EscDshotDirection/Styles.css
  src/css/main.less
Due: prettier --write --ignore-unknown

Fixed CLI load modal title
  src/css/main.less
Due: prettier --write --ignore-unknown

Make telemetry default for jeti
  src/js/Features.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixed CLI load modal title background color (#4200)
  src/css/main.less
Due: prettier --write --ignore-unknown

Adding support for CLI commands over an active MSP port. (#4189)
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add websocket support and fix port override (#4187)
  src/components/port-picker/PortOverrideOption.vue
  src/js/data_storage.js
  src/js/protocols/websocket.js
  src/js/serial_backend.js
  src/js/serial_shim.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Make telemetry default for jeti (#4201)
  src/js/Features.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix HID mode connection (#4199)
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update color for rx protocol warning (#4198)
  src/tabs/receiver.html
Due: none

Add softserial as build option
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/uk/messages.json
Due: none

Add backwards compatibility
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update tooltip
  locales/en/messages.json
Due: none

Rename digitalIdlePercent
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sonar
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change precision
  src/tabs/motors.html
Due: none

Depricate minthrottle
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Move mincommand above maxthrottle
  src/tabs/motors.html
Due: none

Use widetip
  locales/en/messages.json
  src/tabs/motors.html
Due: none

Fix camelCase
  locales/en/messages.json
  src/tabs/motors.html
Due: none

Update toggle hide logic
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Deprecate minthrottle to use motor_idle (#4196)
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Allow keyboard shortcuts
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

add ToolTip for AirMode
  locales/en/messages.json
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

verbiage changes as requested; plus code re-use
  locales/en/messages.json
Due: none

reverse variables; this should retain feature verbiage for non-english until translated. Co-authored-by: Mark Haslinghuis <mark@numloq.nl>
  locales/en/messages.json
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
