Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Update src/js/tabs/setup.js as suggested
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix mag declination
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Redesign of Firmware section at Setup tab (#3770)
  locales/en/messages.json
  src/css/dark-theme.less
  src/css/tabs/setup.less
  src/js/tabs/setup.js
  src/main.html
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix mag declination (#3801)
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix reset dialog
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Disable autocomplete on custom defines field
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix reset dialog (#3803)
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

modify "Reset" verbiage
  locales/en/messages.json
Due: none

modify "Reset" verbiage ; haslinghuis recommendation
  locales/en/messages.json
Due: none

modify "Reset" verbiage (#3805)
  locales/en/messages.json
Due: none

App Build - disable push AWS on forks (#3749)
  .github/workflows/app-build.yml
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Keep autocomplete
  src/tabs/firmware_flasher.html
Due: none

Remove event listener for flashing using Enter key. (#3804)
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Separated "Use Filter Slider" dropdown for clarity
  locales/en/messages.json
  src/css/tabs/pid_tuning.less
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown

Fix missing PID filter slider labels
  src/tabs/pid_tuning.html
Due: none

Fix missing PID filter slider labels (#3811)
  src/tabs/pid_tuning.html
Due: none

Fix light mode
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

set latest vtx_power to prevent out of boundary error
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

set latest vtx_power to prevent out of boundary error (#3815)
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix light mode (#3813)
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

change blackbox rate for 4.2 and older firmware fix
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update SCHEDULER_DETERMINISM debug fields
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/pl/messages.json
  locales/uk/messages.json
Due: none

Fix changing blackbox rate for 4.2 and older firmware (#3816)
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update SCHEDULER_DETERMINISM debug fields (#3817)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix messages and layout
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix messages and layout (#3822)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix lost context
  src/js/model.js
  src/js/tabs/pid_tuning.js
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix lost context (#3824)
  src/js/model.js
  src/js/tabs/pid_tuning.js
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix getContext
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only touch DOM when needed
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only update unused modes when needed (#3827)
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix getContext (#3825)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add debug field
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/pl/messages.json
Due: none

Fix corebuild mode exposing fields after selecting another board
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix corebuild mode exposing fields after selecting another board (#3829)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[Chore] apply lexical scoping to stm32usbdfu
  src/js/protocols/stm32usbdfu.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove remaining sonar issues
  src/js/protocols/stm32usbdfu.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
