Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
Due: none

fix: disconnect logic on the web
  src/js/serial_backend.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Create Andyfpv
  Andyfpv
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

fix: web serial disconnect logic (#3575)
  src/js/serial_backend.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adding workflow items for Web App build
  .github/workflows/app-build.yml
  .github/workflows/app-nightly.yml
  .github/workflows/app-weekly.yml
  .github/workflows/ci.yml
Due: none

Adding workflow items for Web App build (#3579)
  .github/workflows/app-build.yml
  .github/workflows/app-nightly.yml
  .github/workflows/app-weekly.yml
  .github/workflows/ci.yml
Due: none

Translate Failsafe Stage 1 options, improve explanation of function "Time in stage 1" (#3565)
  locales/en/messages.json
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Simplify motor idle config (#3573)
  locales/en/messages.json
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Step 1
  locales/en/messages.json
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

New aligment
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix: presets styling for web
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feat: add `isWeb` helper
  src/js/msp.js
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/utils/isWeb.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update link to documentation
  .github/pull_request_template.md
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Add debug columns
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix: presets styling for web (#3585)
  src/js/browserMain.js
  src/js/msp.js
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/utils/isWeb.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Refactor debug
  src/js/debug.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing debug mode and fix unknown category
  src/js/debug.js
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update link to documentation in PR template (#3584)
  .github/pull_request_template.md
Due: none

Add debug field names in sensor tab (#3587)
  src/js/debug.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix dark-theme
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

Adjust plot colors
  src/css/tabs/motors.less
  src/css/tabs/sensors.less
Due: prettier --write --ignore-unknown

Ajust gps aligment of Status and Quality (#3581)
  locales/en/messages.json
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enable mouse scroll wheel for sliders
  src/css/tabs/pid_tuning.less
  src/js/tabs/motors.js
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enable mouse scroll wheel control of sliders (#3582)
  src/css/tabs/pid_tuning.less
  src/js/tabs/motors.js
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adjust plot colors (#3580)
  src/css/dark-theme.less
  src/css/tabs/motors.less
  src/css/tabs/sensors.less
Due: prettier --write --ignore-unknown

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pt/messages.json
  locales/uk/messages.json
Due: none

Adding dark and light theme names to the sponsor request (params to API) (#3561)
  src/js/BuildApi.js
  src/js/DarkTheme.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update app-nightly.yml
  .github/workflows/app-nightly.yml
Due: none

Update app-nightly.yml to support inherited secrets (#3590)
  .github/workflows/app-nightly.yml
Due: none

Remove GYRO_SCALED
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

show true magADC values
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/sensors.js
  src/tabs/sensors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/da/messages.json
  locales/uk/messages.json
Due: none

Update translations
  locales/da/messages.json
  locales/es/messages.json
  locales/uk/messages.json
Due: none

Update app-build.yml
  .github/workflows/app-build.yml
Due: none

Update app-nightly.yml (#3601)
  .github/workflows/app-nightly.yml
Due: none

Update app-build.yml (#3600)
  .github/workflows/app-build.yml
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
