Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Modes tab
  src/css/tabs/auxiliary.less
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown

Style: Add back td height
  src/css/tabs/configuration.less
Due: prettier --write --ignore-unknown

Style: Refresh Adjustments tab
  src/css/tabs/adjustments.less
  src/tabs/adjustments.html
Due: prettier --write --ignore-unknown

Style: Refresh Motors tab
  src/css/tabs/motors.less
  src/tabs/motors.html
Due: prettier --write --ignore-unknown

Style: Catch up main.less to various changes
  src/css/main.less
Due: prettier --write --ignore-unknown

Make port_handler work with PWA (#3958)
  locales/en/messages.json
  src/components/init.js
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/index.html
  src/js/ConfigStorage.js
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/serial_devices.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh VTX tab
  src/css/tabs/vtx.less
  src/tabs/vtx.html
Due: prettier --write --ignore-unknown

10.10-maintenance update - including background colour activation cherry pick (#3966)
  package.json
  src/css/tabs/auxiliary.less
  src/js/data_storage.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Auto-detect for PWA
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sonar
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix lint issues
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh OSD tab
  src/css/tabs/osd.less
  src/js/tabs/osd.js
  src/tabs/osd.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Receiver tab
  src/css/tabs/receiver.less
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown

Fix lint issues (#3972)
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add auto-connect checkbox again
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Chore: Clean up SonarCloud issues
  src/css/main.less
  src/css/tabs/motors.less
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Chore: Clean up more SonarCloud issues
  src/css/tabs/osd.less
  src/css/tabs/ports.less
  src/css/tabs/receiver.less
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/vtx.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Blackbox tab
  src/css/tabs/onboard_logging.less
  src/tabs/onboard_logging.html
Due: prettier --write --ignore-unknown

Add tests again to the Github Actions
  .github/workflows/artifact-links.yml
  .github/workflows/ci.yml
  .github/workflows/hide-artifact-links.yml
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh headerbar
  src/components/betaflight-logo/BetaflightLogo.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/css/main.less
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Options tab
  src/tabs/options.html
Due: none

Update translations
  locales/ca/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/ru/messages.json
Due: none

Style: Refresh Firmware Flasher tab
  src/css/main.less
  src/css/select2_custom.less
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Use BATTERY_STATE for cellCount (#3964)
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/index.html
  src/js/serial_backend.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update README to remove building with nw.js (#3967)
  README.md
Due: none

Add auto-connect checkbox again (#3970)
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Auto-detect for PWA (#3971)
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Adjust detect feature, add breakpoint
  locales/en/messages.json
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Fix: Use updated i18n in button
  src/tabs/firmware_flasher.html
Due: none

Sort rate models
  src/js/tabs/firmware_flasher.js
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add Acro center sensitivity to Betaflight Rates (#3927)
  locales/en/messages.json
  src/css/tabs/pid_tuning.less
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Sort rate models (#3975)
  src/js/tabs/firmware_flasher.js
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh MSP Radio Emulator
  src/css/receiver_msp/receiver_msp.less
Due: prettier --write --ignore-unknown

Style: Fix Radio Emulator breakpoint
  src/css/receiver_msp/receiver_msp.less
Due: prettier --write --ignore-unknown

Style: Fix Radio Emulator layout
  src/css/receiver_msp/receiver_msp.less
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Ugly fix
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add CLI file functions for PWA
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Better fix
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add CLI file functions for PWA (#3976)
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Another update
  src/js/msp/MSPHelper.js
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
