Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Fix isWeb usage and missing callback (#3758)
  src/js/msp.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Improve messaging on motors tab
  locales/en/messages.json
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Dogcom logo: light and dark theme (#3763)
  src/images/sponsors/dogcom.svg
  src/images/sponsors/dogcom_dark.svg
  src/images/sponsors/dogcom_light.svg
Due: none

Update locales/en/messages.json
  locales/en/messages.json
Due: none

Update messages.json
  locales/en/messages.json
Due: none

Update tooltip for ESC Temp (#3760)
  locales/en/messages.json
Due: none

Comment out language support for multple-select
  src/js/jqueryPlugins.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Increased consistency with tracking parameters captured.
  src/js/CliAutoComplete.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Ensure there is sufficient space between sponsor logos
  src/css/main.less
Due: prettier --write --ignore-unknown

Hide unused OSD video mode
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Ensure there is sufficient space between sponsor logos (#3772)
  src/css/main.less
Due: prettier --write --ignore-unknown

Increased consistency with tracking parameters captured. (#3771)
  src/js/CliAutoComplete.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

test: add list of all the commands as describe
  src/js/msp-cli/msp-cli.test.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feat: add list of commands with no arguments
  src/js/msp-cli/msp-cli.js
  src/js/msp-cli/msp-cli.test.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: add msp cli test file
  src/js/msp-cli/msp-cli.test.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feat: basic cli echo
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: remove v1 implementation
  src/js/msp-cli/msp-cli.js
  src/js/msp-cli/msp-cli.test.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

rebase master + change api version to 1_46
  src/js/data_storage.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes per review
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Do not use MSP for VTX when not included
  src/js/tabs/ports.js
  src/tabs/ports.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Only apply to API 1.45 and up. Thanks nerdCopter
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add locale setup to preset
  src/js/jqueryPlugins.js
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/es/messages.json
  locales/ko/messages.json
Due: none

Update receiver.html
  src/tabs/receiver.html
Due: none

multiple-select bump to 1.7.0
  package.json
  src/js/jqueryPlugins.js
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

multiple-select bump to 1.7.0
  yarn.lock
Due: none

Improve messaging on motors tab (#3753)
  locales/en/messages.json
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Update receiver.html (#3778)
  src/tabs/receiver.html
Due: none

Remove unavailable options
  src/js/tabs/ports.js
  src/tabs/ports.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Disallow cursor
  src/css/tabs/osd.less
Due: prettier --write --ignore-unknown

try colors
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup more F3 code (#3747)
  src/js/boards.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update-timing-accuracy
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add buildOptions from MSP
  src/js/data_storage.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix port picker trigger event
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Disable video modes that are not in the firmware (#3767)
  src/css/tabs/osd.less
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix port picker trigger event (#3781)
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
