Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix background color activation in modes tab in dark mode
  src/css/tabs/auxiliary.less
Due: prettier --write --ignore-unknown

Fix flashing for F4 and F7
  src/js/protocols/webusbdfu.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: remove nwjs and gulp builds
  gulp-appdmg.js
  gulpfile.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: remove cordova setup
  cordova/build_template.json
  cordova/config_template.xml
  cordova/debug.keystore
  cordova/package_template.json
  cordova/usb_device_filter.xml
  cordova/yarn.lock
  package.json
  src/css/main_cordova.less
  src/js/cordova_chromeapi.js
  src/js/cordova_startup.js
  src/js/main_cordova.js
  src/main_cordova.html
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

chore: add missing less dependency
  package.json
  yarn.lock
Due: none

Fix background color activation in modes tab in dark mode (#3961)
  src/css/tabs/auxiliary.less
Due: prettier --write --ignore-unknown

Use BATTERY_STATE for cellCount
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/index.html
  src/js/serial_backend.js
  src/main.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Chore/remove nwjs build (#3962)
  cordova/build_template.json
  cordova/config_template.xml
  cordova/debug.keystore
  cordova/package_template.json
  cordova/usb_device_filter.xml
  cordova/yarn.lock
  gulp-appdmg.js
  gulpfile.js
  package.json
  src/css/main_cordova.less
  src/js/cordova_chromeapi.js
  src/js/cordova_startup.js
  src/js/main_cordova.js
  src/main_cordova.html
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove outdated comments
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use vbatcellcount instead of 1.8V condition
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove gulp appdmg
  .github/workflows/ci.yml
  README.md
  package.json
Due: none

Remove gulp appdmg (#3965)
  .github/workflows/ci.yml
  README.md
  package.json
Due: none

Fix: sonarcloud issues, remove testing parts
  src/components/port-picker/FirmwareVirtualOption.vue
  src/css/dropdown-lists/css/style_lists.css
  src/css/main.less
  src/css/tabs/auxiliary.less
  src/css/tabs/configuration.less
  src/css/theme.css
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix: Remove double variables
  src/css/tabs/adjustments.less
  src/css/tabs/auxiliary.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/ports.less
  src/css/tabs/receiver.less
  src/css/tabs/servos.less
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Style: First POC of UI refresh - Setup tab
  src/components/status-bar/StatusBar.vue
  src/css/dark-theme.less
  src/css/main.less
  src/css/select2_custom.less
  src/css/tabs/setup.less
  src/css/theme.css
  src/images/corner.svg
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style Fix: Prevent tab-specific breakpoints from escaping
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Style: Remove calc() for main layout
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix: Break into mobile UI along CSS, update mobile tabs
  src/css/main.less
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/vtx.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Ports tab
  src/css/tabs/ports.less
  src/tabs/ports.html
Due: prettier --write --ignore-unknown

Style: Refresh Configuration tab
  src/css/main.less
  src/css/tabs/configuration.less
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown

Style: Reposition StatusBar, add a bit of spacing
  src/components/status-bar/PortUtilization.vue
  src/components/status-bar/ReadingStat.vue
  src/components/status-bar/StatusBar.vue
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Remove text shadows
  src/components/data-flash/DataFlash.vue
  src/components/sensor-status/SensorStatus.vue
  src/css/dropdown-lists/css/style_lists.css
  src/css/main.less
  src/css/receiver_msp/receiver_msp.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/led_strip.less
  src/css/tabs/motors.less
  src/css/tabs/osd.less
  src/css/tabs/receiver.less
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Fix overlapping select styles
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortsInput.vue
  src/css/dropdown-lists/LICENSE
  src/css/dropdown-lists/css/style_lists.css
  src/css/main.less
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix: Remove import for deleted files, fixes builds
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add DFU support for PWA (#3949)
  src/js/port_handler.js
  src/js/protocols/stm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/firmware_flasher.js
  src/js/usb_devices.js
  src/js/usb_shim.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Revert version change, and add 10.10.1
  package.json
  src/css/tabs/auxiliary.less
  src/js/data_storage.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Modify the port_handler more the Vue way
  src/components/init.js
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/index.html
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/serial_devices.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Make port_handler work with PWA
  locales/en/messages.json
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix request permission option not being deselected
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes after review
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/index.html
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Power & Battery tab
  src/css/tabs/power.less
  src/tabs/power.html
Due: prettier --write --ignore-unknown

Style: Prevent OSD tab styles from escaping
  src/css/tabs/osd.less
Due: prettier --write --ignore-unknown

Style: Refresh Failsafe tab
  src/css/tabs/failsafe.less
  src/tabs/failsafe.html
Due: prettier --write --ignore-unknown

Update README to remove building with nw.js
  README.md
Due: none

Hide baud selection in port picker if virtual port
  src/components/port-picker/PortsInput.vue
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added port override option for manual
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix virtual port state when loading the page
  src/components/port-picker/PortsInput.vue
  src/js/ConfigStorage.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix request permission adds the same device several times
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix automatic selection of device under Linux
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
