Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix tooltip
  locales/en/messages.json
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Fix: tooltip (#3445)
  locales/en/messages.json
Due: none

Fix: arm status [icon] (#3438)
  src/css/main.less
  src/js/sensor_helpers.js
  src/js/serial_backend.js
  src/js/tabs/motors.js
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Refactor writeConfiguration
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/configuration.js
  src/js/tabs/failsafe.js
  src/js/tabs/gps.js
  src/js/tabs/motors.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/receiver.js
  src/js/tabs/transponder.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix after review
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/auxiliary.js
  src/js/tabs/led_strip.js
  src/js/tabs/power.js
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Refactor: writeConfiguration (#3444)
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/auxiliary.js
  src/js/tabs/configuration.js
  src/js/tabs/failsafe.js
  src/js/tabs/gps.js
  src/js/tabs/led_strip.js
  src/js/tabs/motors.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/power.js
  src/js/tabs/receiver.js
  src/js/tabs/transponder.js
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix invalid version
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix invalid version (#3449)
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Simplify Expert Mode (#3301)
  locales/en/messages.json
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
  src/tabs/firmware_flasher.html
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Replaced build_configuration slideUp/Down with show/hide
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[10.9-maintenance] Simplify Expert Mode (#3301) (#3454)
  locales/en/messages.json
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
  src/tabs/firmware_flasher.html
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[10.9-maintenance] Double sliding fix for build configuration panel (#3456)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Downgrade nw-builder to version 3.8.3
  package.json
  yarn.lock
Due: none

Update translations
  locales/it/messages.json
  locales/ko/messages.json
Due: none

Bump to 1.6.0
  package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Bump multipleSelect to 1.6.0 (#3465)
  package.json
  yarn.lock
Due: none

Downgrade nw-builder to version 3.8.3 (#3462)
  package.json
  yarn.lock
Due: none

Removing unused git_info section
  src/css/tabs/firmware_flasher.less
  src/css/tabs/osd.less
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add sponsor tile to firmware flashing tab
  src/css/main.less
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adding sponsorship logos locally for efficiency (can still be disabled by API).
  src/images/sponsors/dogcom.svg
  src/images/sponsors/hqprop.svg
  src/images/sponsors/radiomaster.svg
Due: none

Small fixes to load content
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Removing unused git_info section (#3467)
  src/css/tabs/firmware_flasher.less
  src/css/tabs/osd.less
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

use-select2
  src/css/tabs/onboard_logging.less
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add sponsor tile to firmware flashing tab (#3468)
  src/css/main.less
  src/images/sponsors/dogcom.svg
  src/images/sponsors/hqprop.svg
  src/images/sponsors/radiomaster.svg
  src/js/BuildApi.js
  src/js/tabs/firmware_flasher.js
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

use-select2 (#3470)
  src/css/tabs/onboard_logging.less
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Updated dogcom logo (for better light mode support).
  src/images/sponsors/dogcom.svg
Due: none

Invertable class removed inadvertently
  src/css/dark-theme.less
Due: prettier --write --ignore-unknown

Missed `sponsor-img` class.
  src/css/main.less
Due: prettier --write --ignore-unknown

Use underscore to stay inline with current standard
  src/css/main.less
Due: prettier --write --ignore-unknown

Updated Dogcom logo for better light mode support. (#3472)
  src/css/dark-theme.less
  src/css/main.less
  src/images/sponsors/dogcom.svg
Due: prettier --write --ignore-unknown

Converting indentation to spaces.
  src/css/dark-theme.less
  src/css/main.less
  src/css/main_cordova.less
  src/css/select2_custom.less
  src/css/switchery_custom.less
Due: prettier --write --ignore-unknown

convert tab to spaces, and rename cf to bf
  src/css/dark-theme.less
  src/images/bf_logo_black.svg
  src/images/bf_logo_white.svg
  src/images/bf_settings_black.svg
  src/images/bf_settings_white.svg
  src/tabs/landing.html
Due: prettier --write --ignore-unknown

Upgrade stale action to v8
  .github/workflows/stale.yaml
Due: none

Add support for multiple presets repositories to be active at once
  locales/en/messages.json
  src/tabs/presets/SourcesDialog/SourcePanel.html
  src/tabs/presets/SourcesDialog/SourcePanel.js
  src/tabs/presets/SourcesDialog/SourcesDialog.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Code-style changes to src/tabs/presets/presets.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adding sponsor program images (for future use).
  src/images/sponsors/bf_hardware_seal_dark.svg
  src/images/sponsors/bf_hardware_seal_light.svg
  src/images/sponsors/bf_partner_dark.svg
  src/images/sponsors/bf_partner_light.svg
Due: none

Code-review changes
  locales/en/messages.json
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/FavoritePresets.js
  src/tabs/presets/PickedPreset.js
  src/tabs/presets/PresetsRepoIndexed/PresetsGithubRepo.js
  src/tabs/presets/PresetsRepoIndexed/PresetsWebsiteRepo.js
  src/tabs/presets/SourcesDialog/SourcesDialog.js
  src/tabs/presets/TitlePanel/PresetTitlePanel.css
  src/tabs/presets/TitlePanel/PresetTitlePanel.js
  src/tabs/presets/TitlePanel/PresetTitlePanelBody.html
  src/tabs/presets/presets.html
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
