Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pt/messages.json
Due: none

Fix css in gps tab (#3359)
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Remove custom defaults
  src/js/data_storage.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Limit groundspeed in UI to 3m/s
  src/tabs/failsafe.html
Due: none

Fix: vtx tab -> vtx type (#3353)
  src/js/utils/VtxDeviceStatus/Rtc6705DeviceStatus.js
  src/js/utils/VtxDeviceStatus/SmartAudioDeviceStatus.js
  src/js/utils/VtxDeviceStatus/TrampDeviceStatus.js
  src/js/utils/VtxDeviceStatus/VtxDeviceStatusFactory.js
  src/js/utils/VtxDeviceStatus/VtxMspDeviceStatus.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Limit groundspeed in UI to 3m/s (#3362)
  src/tabs/failsafe.html
Due: none

Add rainbow effect and cleanup
  locales/en/messages.json
  src/css/tabs/led_strip.less
  src/js/data_storage.js
  src/js/msp/MSPHelper.js
  src/js/tabs/led_strip.js
  src/js/utils/common.js
  src/tabs/led_strip.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

reduce indentation
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[10.9-maintenance] Fix: vtx tab -> vtx type (#3353) (#3364)
  src/js/utils/VtxDeviceStatus/Rtc6705DeviceStatus.js
  src/js/utils/VtxDeviceStatus/SmartAudioDeviceStatus.js
  src/js/utils/VtxDeviceStatus/TrampDeviceStatus.js
  src/js/utils/VtxDeviceStatus/VtxDeviceStatusFactory.js
  src/js/utils/VtxDeviceStatus/VtxMspDeviceStatus.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Select blackbox debug fields
  locales/en/messages.json
  src/css/tabs/onboard_logging.less
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/onboard_logging.js
  src/tabs/onboard_logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Option to automatically open DevTools (#3352)
  locales/en/messages.json
  src/js/data_storage.js
  src/js/main.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Select blackbox debug fields (#3363)
  locales/en/messages.json
  src/css/tabs/onboard_logging.less
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/onboard_logging.js
  src/tabs/onboard_logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Display heading on GPS Tab (#3355)
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/fc.js
  src/js/tabs/gps.js
  src/js/tabs/map.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove setting of client version in the cloud build request (#3358)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Expose Cloud Build Options
  locales/en/messages.json
  src/js/BuildApi.js
  src/js/Features.js
  src/js/data_storage.js
  src/js/fc.js
  src/js/gui.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/ports.js
  src/js/utils/updateTabList.js
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Expose Cloud Build Options and hide tabs and features (#3332)
  locales/en/messages.json
  src/js/BuildApi.js
  src/js/Features.js
  src/js/data_storage.js
  src/js/fc.js
  src/js/gui.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/ports.js
  src/js/utils/updateTabList.js
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix broken link in messages.json
  locales/en/messages.json
Due: none

Display average RPM on motor tab
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

More messages
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

caps API
  locales/en/messages.json
Due: none

More buiold info
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

buildinfo
  src/tabs/setup.html
Due: none

buildinfo test
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove custom defaults (#3361)
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

GPS icon now reflect fix state
  src/css/main.less
  src/images/icons/sensor_sat_on_no_fix.png
  src/images/icons/sensor_sat_on_with_fix.png
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added build options
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added build options
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Code moved to sensor_helpers.js
  src/js/msp/MSPHelper.js
  src/js/sensor_helpers.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Code moved to sensor_helpers.js
  src/js/sensor_helpers.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Minor changes
  src/js/sensor_helpers.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Display average RPM on motor tab (#3371)
  src/js/tabs/motors.js
  src/tabs/motors.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix gyro_hardware_lpf
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

GPS icon now reflect fix state (#3377)
  src/css/main.less
  src/images/icons/sensor_sat_on_no_fix.png
  src/images/icons/sensor_sat_on_with_fix.png
  src/js/msp/MSPHelper.js
  src/js/sensor_helpers.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change of label
  locales/en/messages.json
Due: none

chang loop
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix-motor-stop
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix-motor-stop (#3379)
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add buildkey and sensors
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
