Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Reduce brain overload
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use firmware options on introduction (#3900)
  src/js/Features.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix column width
  src/css/tabs/logging.less
Due: prettier --write --ignore-unknown

Update translations
  locales/pl/messages.json
  locales/ru/messages.json
Due: none

Rename field entry
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Rename blackbox field entry "Unfiltered Gyro" (#3905)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix column width (#3903)
  src/css/tabs/logging.less
Due: prettier --write --ignore-unknown

Fix connection for patch release versions
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix connection for patch release versions (#3908)
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

slightly more space between logos
  src/css/main.less
Due: prettier --write --ignore-unknown

More Space Between Sponsors (#3909)
  src/css/main.less
Due: prettier --write --ignore-unknown

Add angle mode center sensitivity
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add center sensitity for Betaflight rates
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add angle mode center sensitivity (#3910)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Angle Mode positioning
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix Angle Mode positioning (#3914)
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update version to 11.0 (#3873)
  package.json
  src/js/data_storage.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Feat/web virtual mode (#3882)
  src/components/eventBus.js
  src/components/init.js
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/index.html
  src/js/ConfigStorage.js
  src/js/msp.js
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/serial_shim.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update yarn.lock versions (#3872)
  yarn.lock
Due: none

Fix virtual mode after serial connection
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Update link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update link in CONTRIBUTING.md (#3922)
  CONTRIBUTING.md
Due: none

Fix virtual mode after serial connection (#3916)
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add clipboard feature to web app (#3887)
  resources/jsonschema/vtxconfig_schema-1.0.json
  src/js/Clipboard.js
  src/js/tabs/vtx.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix dual telemetry in receiver tab
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Do not add telemetry twice
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Adjust header bar in mobile devices
  src/css/main.less
Due: prettier --write --ignore-unknown

Adjust header bar in mobile devices (#3925)
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix: sonarcloud issues, remove testing parts
  src/components/port-picker/FirmwareVirtualOption.vue
  src/css/dropdown-lists/css/style_lists.css
  src/css/main.less
  src/css/tabs/auxiliary.less
  src/css/tabs/configuration.less
  src/css/theme.css
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix: Remove double variables
  src/css/tabs/adjustments.less
  src/css/tabs/auxiliary.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/ports.less
  src/css/tabs/receiver.less
  src/css/tabs/servos.less
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Add Acro center sensitivity to Betaflight Rates
  locales/en/messages.json
  src/css/tabs/pid_tuning.less
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove Acro from pid titlebar header
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix dual telemetry in receiver tab for local builds (#3923)
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix reset options
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix options and expost local options
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix virtual reboot
  src/js/fc.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sonar
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Expose [local] firmware build options (#3931)
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
