Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Update debug
  src/js/debug.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add CLI console
  locales/en/messages.json
  src/css/main.less
  src/index.html
  src/js/gui.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Update TPA debug (Wing)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Allow keyboard shortcuts (#4205)
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add CLI console (#4207)
  locales/en/messages.json
  src/css/main.less
  src/index.html
  src/js/gui.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix handling of custom configuration with 8 motors Resolves issue #4212
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

minor optimization since same check is done in for loop above
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Formatting tweak for comment
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

substitute in equivalent but cleaner logic
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix handling of custom configuration with 8 motors, enabling motor testing on octocopters (#4213)
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update browser check
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update debug (replace GPS_RESCUE_THROTTLE_PID with AUTOPILOT_ALTITUDE) (#4208)
  src/js/debug.js
  src/js/tabs/onboard_logging.js
  src/js/tabs/sensors.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add softserial as build option (#4202)
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/ru/messages.json
Due: none

Styled the cloud build progress bar
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Styled the cloud build progress bar (#4218)
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Fixed color of BBL Progress Bar
  src/css/tabs/onboard_logging.less
Due: prettier --write --ignore-unknown

Fixed color of BBL Progress Bar (#4220)
  src/css/tabs/onboard_logging.less
Due: prettier --write --ignore-unknown

Fix sensors and battery cellcount
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/index.html
  src/js/serial_backend.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix sensors and battery cellcount (#4221)
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/index.html
  src/js/serial_backend.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add helpMode tooltip for altitude hold
  locales/en/messages.json
Due: none

Fix BT uncaught
  src/index.html
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove gyro_scaled debug
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update dependencies
  yarn.lock
Due: none

Fix BT uncaught and port-picker (#4223)
  src/index.html
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update dependencies (#4226)
  yarn.lock
Due: none

Remove gyro_scaled (#4224)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update browser check (#4214)
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Terminology simplification and URL link
  locales/en/messages.json
Due: none

Update translations
  locales/pl/messages.json
Due: none

Add tooltip for altitude hold (#4222)
  locales/en/messages.json
Due: none

fix bluetooth support issue for chrome on android. and usb otg serial support for chrome on android.
  src/js/DarkTheme.js
  src/js/main.js
  src/js/protocols/bluetooth.js
  src/js/utils/checkBrowserCompatibilty.js
  src/js/utils/web-serial-polyfill/serial.ts
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Apply suggestions from code review
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update locales/en/messages.json
  locales/en/messages.json
Due: none

add ToolTip for AirMode (#4206)
  locales/en/messages.json
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix serial polyfill issue
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update src/js/utils/checkBrowserCompatibilty.js
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

substitue `craft` for `drone` and `quad`
  locales/en/messages.json
Due: none

Fix debug ATTITUDE
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
