Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

[10.10-MAINT] update macos build (#4100)
  .github/workflows/ci.yml
Due: none

Remove main.html
  package.json
  src/main.html
Due: none

Fix message
  locales/en/messages.json
Due: none

Remove main.html (#4101)
  package.json
  src/main.html
Due: none

Update message for PWA
  locales/en/messages.json
Due: none

Fix configuratorUpdateHelp message (#4102)
  locales/en/messages.json
Due: none

Fix autodetect for older 4.5 firmware builds
  src/js/utils/AutoDetect.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add ELRS SPI Model Match ID
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/receiver.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Added LED Brightness Adjust
  locales/en/messages.json
  src/js/tabs/adjustments.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Enforce preset mutally exclusive option groups (#3940)
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.js
  src/tabs/presets/PresetsRepoIndexed/PresetParser.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes per review
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Also gate saving
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update GPS Positional DOP using polling timer
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

remove cordova logic
  src/components/EscDshotDirection/EscDshotDirectionComponent.js
  src/js/DarkTheme.js
  src/js/gui.js
  src/js/main.js
  src/js/phones_ui.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/options.js
  src/js/tabs/osd.js
  src/js/tabs/receiver.js
  src/js/tabs/vtx.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix autodetect for some older 4.5 firmware builds (#4103)
  src/js/utils/AutoDetect.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Remove cordova logic (#4000)
  src/components/EscDshotDirection/EscDshotDirectionComponent.js
  src/js/DarkTheme.js
  src/js/gui.js
  src/js/main.js
  src/js/phones_ui.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/options.js
  src/js/tabs/osd.js
  src/js/tabs/receiver.js
  src/js/tabs/vtx.js
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add ELRS SPI Model Match ID (#4104)
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/receiver.js
  src/tabs/receiver.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change flex direction of elements
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Update TPA debug fields
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/ru/messages.json
Due: none

Update TPA debug fields (#4109)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change displaying of instruments in the setup tab. (#4108)
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Vertically centered label and its radiobutton
  src/css/tabs/osd.less
Due: prettier --write --ignore-unknown

Change gap from 5px to 3px
  src/css/tabs/osd.less
Due: prettier --write --ignore-unknown

Vertically centered label and its radiobutton in OSD tab (#4112)
  src/css/tabs/osd.less
Due: prettier --write --ignore-unknown

Use basic less functions to generate repeated css
  src/css/main.less
Due: prettier --write --ignore-unknown

gulpfile.js - remove gconf2 requirement
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use basic less functions to generate repeated css (#4113)
  src/css/main.less
Due: prettier --write --ignore-unknown

Adjust contrast ratio for sidebar links. Add flexible colors for svg images.
  src/css/main.less
Due: prettier --write --ignore-unknown

Add webkit-mask css attribute to cover more browsers
  src/css/main.less
Due: prettier --write --ignore-unknown

Remove right margin for .helpicon in .gui_box_titlebar
  src/css/main.less
Due: prettier --write --ignore-unknown

Adjust contrast ratio for sidebar links. Add flexible colors for svg. (#4115)
  src/css/main.less
Due: prettier --write --ignore-unknown

Remove right margin for .helpicon in .gui_box_titlebar (#4117)
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix usage of splice
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

WebSerial unsupported alert
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

PWA notice for unsupported browser
  locales/en/messages.json
  src/components/port-picker/PortPicker.vue
  src/js/utils/checkBrowserCompatibilty.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Upper case browser names
  locales/en/messages.json
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup
  locales/en/messages.json
  src/components/port-picker/PortPicker.vue
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Stick landing page footer to the bottom of the page
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown
