Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Update bluetooth.js
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update README.md
  README.md
Due: none

Update README.md (#4255)
  README.md
Due: none

Update README.md (#4256)
  README.md
Due: none

Fix vtx tab presentation
  src/css/tabs/vtx.less
  src/tabs/vtx.html
Due: prettier --write --ignore-unknown

Fix vtx tab presentation (#4257)
  src/css/tabs/vtx.less
  src/tabs/vtx.html
Due: prettier --write --ignore-unknown

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
Due: none

Attitude field added to blackbox fields list (#4248)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update throttle
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update TPA debug (Wing)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[chore] refactor order
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update TPA debug (Wing) (#4211)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add Gimbal debug
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add Gimbal debug (#4260)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add WING_SETPOINT debug
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update order
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add WING_SETPOINT debug (#4261)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add missing arming disable flag
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

FIx missing crashflip arming disable flag (#4265)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show SDC in DataFlash component
  src/components/data-flash/DataFlash.vue
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

resolved attitude log disabled flag enum position issue
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

The code readable improvement
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Resolved attitude log disabled flag enum position issue (#4268)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add vtxTableBandsHelp message
  locales/en/messages.json
Due: none

Remove duplicate message
  locales/en/messages.json
Due: none

Add CRASHFLIP tooltip
  locales/en/messages.json
Due: none

Add POSHOLD message
  locales/en/messages.json
Due: none

add Servo debug disable field
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show SDC in DataFlash component (#4267)
  src/components/data-flash/DataFlash.vue
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/update_dataflash_global.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update messages (#4270)
  locales/en/messages.json
Due: none

add Servo debug disable field (#4271)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/uk/messages.json
Due: none

Adjust 3D boxmode
  locales/en/messages.json
Due: none

Adjust 3D boxmode (#4273)
  locales/en/messages.json
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Update Vue
  package.json
  src/components/betaflight-logo/BetaflightLogo.vue
  src/components/data-flash/DataFlash.vue
  src/components/eventBus.js
  src/components/init.js
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/components/quad-status/BottomStatusIcons.vue
  src/components/sensor-status/SensorStatus.vue
  src/components/status-bar/PortUtilization.vue
  src/components/status-bar/ReadingStat.vue
  src/components/status-bar/StatusBar.vue
  src/components/status-bar/StatusBarVersion.vue
  src/components/vueI18n.js
  src/js/port_handler.js
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
