Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix presets UI buttons bar
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.less
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Fix presets UI buttons bar (#4066)
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.less
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Fix button toolbar in motors and modes tabs
  src/css/tabs/auxiliary.less
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Fix button toolbar in motors and modes tabs (#4067)
  src/css/tabs/auxiliary.less
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Add first version of branding
  android/app/src/main/res/drawable-land-hdpi/splash.png
  android/app/src/main/res/drawable-land-mdpi/splash.png
  android/app/src/main/res/drawable-land-xhdpi/splash.png
  android/app/src/main/res/drawable-land-xxhdpi/splash.png
  android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  android/app/src/main/res/drawable-port-hdpi/splash.png
  android/app/src/main/res/drawable-port-mdpi/splash.png
  android/app/src/main/res/drawable-port-xhdpi/splash.png
  android/app/src/main/res/drawable-port-xxhdpi/splash.png
  android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  android/app/src/main/res/drawable/splash.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

Add altitude variant (#4052)
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add basic Android instructions to the README
  README.md
  package.json
Due: none

Use diff
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use diff (#4068)
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add new files
  locales/en/messages.json
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

More cleanup
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add bluetooth support
  locales/en/messages.json
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

CLI now works over BT
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
  src/js/serial_shim.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix bind for disconnect
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup
  src/js/protocols/bluetooth.js
  src/js/serial_shim.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix MSP over bluetooth
  src/js/msp.js
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Rename port to device
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Cleanup excessive logging
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix dual permission request
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Reboot does not trigger event gattserverdisconnected
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Small refactor
  src/js/protocols/bluetooth.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Abstract navigator
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Do not crash when bluetooth flag is disabled
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Reboot
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Increase minimum MSP timeout for PWA
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add bluetooth support (#4024)
  locales/en/messages.json
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/js/msp.js
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/serial_backend.js
  src/js/serial_shim.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add APM32 device support
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes CLI text color on dark theme
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

[github workflow] auto-close PR's with branch named 'master'
  .github/workflows/autp-close.yml
Due: none

[github workflow] auto-close PR's with branch named 'master'
  .github/workflows/auto-close.yml
Due: none

[github workflow] auto-close PR's with branch named 'master' (#4071)
  .github/workflows/auto-close.yml
Due: none

Add APM32 device support (#4069)
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

CLI Text dark font on dark background fix.
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

CLI Text dark font on dark background fix. (#4072)
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

Aesthetic CLI dropdown menu
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

Add script to generate the capacitor.config.json file
  .gitignore
  README.md
  capacitor.config.base.json
  capacitor.config.generator.mjs
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix hide of dataflash element
  src/css/main.less
Due: prettier --write --ignore-unknown

Aesthetic CLI dropdown menu (#4073)
  src/css/tabs/cli.less
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js: any of: **/*.{js,vue}
