Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Fix port selection blank under some situations
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix port selection blank under some situations (#4026)
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix tethered logging under PWA
  src/js/FileSystem.js
  src/js/tabs/logging.js
  src/tabs/logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix disarm flag elements
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Fixes per review and Sonar
  src/js/FileSystem.js
  src/js/tabs/logging.js
  src/tabs/logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Revert async to promises in some functions of FileSystem
  src/js/FileSystem.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix no newline at the end of each write
  src/js/tabs/logging.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix tethered logging under PWA (#4029)
  src/js/FileSystem.js
  src/js/tabs/logging.js
  src/tabs/logging.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix disarm flag elements (#4030)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh headerbar
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/components/quad-status/BatteryIcon.vue
  src/css/main.less
  src/images/icons/sensor_baro_off.png
  src/images/icons/sensor_baro_on.png
  src/index.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add APM32 serial device information to serial_devices.js
  src/js/serial_devices.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh Sensors tab
  src/css/tabs/sensors.less
Due: prettier --write --ignore-unknown

Style: More consistent select elements
  src/css/main.less
Due: prettier --write --ignore-unknown

Style: Refresh GPS tab
  src/css/tabs/gps.less
  src/tabs/gps.html
Due: prettier --write --ignore-unknown

Style: Fix motors tab layout
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Style: Various fixes, align more toolbars
  src/css/main.less
  src/css/receiver_msp/receiver_msp.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/power.less
  src/tabs/led_strip.html
  src/tabs/pid_tuning.html
  src/tabs/presets/presets.html
Due: prettier --write --ignore-unknown

Move analytics to its own domain and capture host
  src/js/Analytics.js
  src/js/BuildApi.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Style: Refresh CLI tab
  src/tabs/cli.html
Due: none

Style: Clean up VTX tab styling
  src/css/tabs/vtx.less
Due: prettier --write --ignore-unknown

Style: Fix sensor status color
  src/css/main.less
Due: prettier --write --ignore-unknown

Add CPU LOAD warning to the OSD tab (#4021) (#4022)
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix lint
  src/components/status-bar/ReadingStat.vue
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Use the showAllSerialDevces option under PWA
  src/js/port_handler.js
  src/js/tabs/options.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix autoback and execute commands in cli
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Backout changes in cli
  src/js/tabs/cli.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Show all serial devices option PWA (#4039)
  src/components/status-bar/ReadingStat.vue
  src/js/port_handler.js
  src/js/tabs/options.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix some UI glitches in servos tab
  src/css/main.less
  src/css/tabs/servos.less
  src/tabs/servos.html
Due: prettier --write --ignore-unknown

Remove space for hidden buttons in the toolbar
  src/css/main.less
Due: prettier --write --ignore-unknown

Some adjustments to the VTX tab UI
  src/css/main.less
  src/tabs/vtx.html
Due: prettier --write --ignore-unknown

Fix autobackup (#4033)
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/firmware_flasher.js
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix UI toolbar buttons at tethered logging
  src/css/tabs/logging.less
  src/tabs/logging.html
Due: prettier --write --ignore-unknown

Update debug
  src/css/select2_custom.less
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Several little UI adjustments
  src/css/tabs/configuration.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/sensors.less
  src/css/tabs/setup.less
  src/css/tabs/static_tab.less
  src/tabs/pid_tuning.html
  src/tabs/presets/presets.less
  src/tabs/sensors.html
Due: prettier --write --ignore-unknown

Request permission before connect in USB flashing
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix message
  locales/en/messages.json
Due: none

Some adjustments to the VTX tab UI (#4042)
  src/css/main.less
  src/tabs/vtx.html
Due: prettier --write --ignore-unknown

Fix UI toolbar buttons at tethered logging (#4043)
  src/css/tabs/logging.less
  src/tabs/logging.html
Due: prettier --write --ignore-unknown
