Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Fix botton toolbar again in modes an flasher tab
  src/css/tabs/auxiliary.less
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
Due: none

Fix hide of dataflash element (#4076)
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix botton toolbar again in modes an flasher tab (#4077)
  src/css/tabs/auxiliary.less
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Add script to generate the capacitor.config.json file (#4075)
  .gitignore
  README.md
  capacitor.config.base.json
  capacitor.config.generator.mjs
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix typos
  locales/en/messages.json
Due: none

Fix typos (#4079)
  locales/en/messages.json
Due: none

Update AutoBackup.js
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feedback
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update AutoBackup.js to use diff all (#4080)
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Detect GitHub branch name automatically from URL
  src/tabs/presets/SourcesDialog/PresetSource.js
  src/tabs/presets/SourcesDialog/SourcePanel.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Switched if statement to ternary operator
  src/tabs/presets/SourcesDialog/PresetSource.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Extract old virtual serial for compatability
  src/js/Clipboard.js
  src/js/main.js
  src/js/msp/MSPConnector.js
  src/js/port_usage.js
  src/js/serial.js
  src/js/serial_backend.js
  src/js/serial_shim.js
  src/js/tabs/cli.js
  src/js/tabs/sensors.js
  src/js/tabs/vtx.js
  src/js/virtualSerial.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix auto_disarm_delay being reset
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Detect GitHub branch name automatically from URL (#4081)
  src/tabs/presets/SourcesDialog/PresetSource.js
  src/tabs/presets/SourcesDialog/SourcePanel.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes text legibility
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix auto_disarm_delay being reset (#4082)
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fixes text legibility (#4083)
  src/css/main.less
Due: prettier --write --ignore-unknown

Style Fix: Adjust layout for fixed toolbar
  src/css/main.less
  src/css/tabs/cli.less
  src/css/tabs/logging.less
  src/css/tabs/motors.less
  src/css/tabs/ports.less
  src/tabs/cli.html
  src/tabs/logging.html
  src/tabs/motors.html
Due: prettier --write --ignore-unknown

Fixed UI bug - Toolbar floating on some tabs
  src/css/main.less
  src/css/tabs/motors.less
  src/css/tabs/servos.less
  src/tabs/motors.html
  src/tabs/presets/presets.html
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Style Fix: Adjust layout for fixed toolbar (#4086)
  src/css/main.less
  src/css/tabs/cli.less
  src/css/tabs/logging.less
  src/css/tabs/motors.less
  src/css/tabs/ports.less
  src/tabs/cli.html
  src/tabs/logging.html
  src/tabs/motors.html
Due: prettier --write --ignore-unknown

Little cleanup
  src/js/tabs/configuration.js
  src/js/tabs/pid_tuning.js
  src/tabs/configuration.html
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

colspan attr is always 6
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Feature: Create Development tab
  locales/en/messages.json
  src/index.html
  src/js/gui.js
  src/js/main.js
  src/js/tabs/development.js
  src/js/utils/updateTabList.js
  src/main.html
  src/tabs/development.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix menu overflow
  src/css/main.less
Due: prettier --write --ignore-unknown

There must be a better solution
  src/css/main.less
Due: prettier --write --ignore-unknown

At Auxiliaty tab, now switch to hide non FlightModes
  locales/en/messages.json
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Test
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix code smell
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Simplification
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Resolved
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Resolved
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

rebase
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Change to category
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

BuildOptions
  locales/en/messages.json
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

BuildOptions
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

More build
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

multiselect
  src/js/tabs/auxiliary.js
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

more to go
  src/css/tabs/auxiliary.less
  src/js/localization.js
  src/js/tabs/auxiliary.js
  src/main.html
  src/tabs/auxiliary.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

more to go
  src/js/tabs/auxiliary.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
