Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Update translations
  locales/de/messages.json
  locales/uk/messages.json
Due: none

[Chore] apply lexical scoping to stm32usbdfu (#3752)
  src/js/protocols/stm32usbdfu.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Improve sponsors tab layout
  src/css/main.less
Due: prettier --write --ignore-unknown

Improve sponsors tab layout (#3834)
  src/css/main.less
Due: prettier --write --ignore-unknown

Update NWjs to 0.83
  gulpfile.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ko/messages.json
  locales/pt_BR/messages.json
Due: none

[github actions] fix release assets upload
  .github/workflows/build-release.yml
  .github/workflows/release.yml
Due: none

fix testing-failsafe link
  locales/en/messages.json
Due: none

TPA clarification - % and μs
  locales/en/messages.json
Due: none

Fix model preview in receiver tab
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix model preview in receiver tab (#3847)
  src/js/tabs/receiver.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

[github actions] fix release assets upload (#3840)
  .github/workflows/build-release.yml
  .github/workflows/release.yml
Due: none

Update Russian translation
  locales/ru/messages.json
Due: none

Fix duplicate message
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

fix testing-failsafe link (#3845)
  locales/en/messages.json
Due: none

TPA clarification - % and μs (#3846)
  locales/en/messages.json
Due: none

TPA Clarification
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix missing message (#3850)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

TPA Clarification (#3851)
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Clarify TPA breakpoint
  locales/en/messages.json
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

yolo
  gulpfile.js
  main.html
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Working configurator build with vite
  gulpfile.js
  main.html
  package.json
  src/js/jqueryPlugins.js
  src/js/utils/isWeb.js
  src/main.html
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix flash on connect
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

fix: jquery plugins
  gulpfile.js
  src/js/jquery.js
  src/js/jqueryPlugins.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Register and handle a custom 'btfltcp://' protocol URI scheme
  .eslintrc.js
  assets/linux/betaflight-configurator.desktop
  assets/windows/installer.iss
  cordova/config_template.xml
  cordova/package_template.json
  cordova/yarn.lock
  gulpfile.js
  src/js/main.js
  src/js/port_handler.js
  src/js/serial.js
  src/js/serial_backend.js
  src/js/uri_scheme.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix flash on connect (#3858)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Fix DOP presentation
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Display positional DOP
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Add positional DOP to GUI (#3857)
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Hide manual connection and refactor port_handler
  locales/en/messages.json
  src/js/port_handler.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update tooltip
  locales/en/messages.json
Due: none

Update board wiki URL
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

feat: add netlify config file
  netlify.toml
Due: none

feat: add netlify config file (#3863)
  netlify.toml
Due: none

Update src/js/tabs/firmware_flasher.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js

Update tooltip (#3861)
  locales/en/messages.json
Due: none

Fix compass calibration interval timeout
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --ext .js,.vue --fix src gulpfile.js gulp-appdmg.js
